body{
	background-color; white:
}
.box{
	margin: 5px 10px 0px 10px;
	border: purple 3px dotted; 
	color: black;
	font-size: 15px;
	text-align: center;
	padding:  15% 5px 5px 5px;
}

.text1{
	color: green;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
}

.text2{
	color: orange;
	font-size: 30px;
}

.red{
	color: red;
}

.text3{
	color: purple;
	text-align: right;
	font-size: 8px;
	font-weight: bold;
}

.yellow{
	color: yellow;
	text-transform: uppercase;
	font-style: italic;
}