#wrapper{
	width: 100%;
	margin: 20 auto;
	background-color: green;
}

.box{
	margin: 20px 20px 0px 20px;
	border: black 5px dashed;
	padding: 10px 20px 10px 10px;
}

.text1{
	color: red;
	font-size: 20px;
}

.text2{
	color: #006600;
	font-size: 20px;
}

.text3{
	color: purple;
	font-size: 20px;
}